<a href="https://colab.research.google.com/github/lauravalentinamm/Tareas_Mineria_Python/blob/main/Correcci%C3%B3n_parcial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Corrección Parcial Práctico I

# Librerías

In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import matplotlib.pyplot as plt
import altair as alt
from vega_datasets import data
import statistics as st

In [93]:
!pip install dfply

Collecting dfply
  Downloading dfply-0.3.3-py3-none-any.whl (612 kB)
     |████████████████████████████████| 612 kB 5.4 MB/s
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from dfply) (1.1.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from dfply) (1.19.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2.8.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas->dfply) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->dfply) (1.15.0)
Installing collected packages: dfply
Successfully installed dfply-0.3.3

In [94]:
from sklearn import datasets
from dfply import *
import numpy as np

# Importación de datos locales

In [110]:
students = pd.read_csv('student-mat.csv', 
                 sep = ';',
                 index_col=False,
                 error_bad_lines=False,
                 
                 
)
students.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

# Desarrollo Parcial

¿Existen valores vacíos o nulos para alguna de las variables del dataset?

Rta / El data frame Students no posee ningún valor vacío o nulo en alguna de sus variables.

In [7]:
students.isna().sum()

sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [73]:
students.isnull().sum()

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
Media         0
dtype: int64

1.	¿Cuántos estudiantes viven en zona urbana o rural? ¿Cuántos de los estudiantes rurales son mujeres y cuántos son hombres?

In [31]:
rurales = sum(students['address']=="R")
print("El número de estudiantes que viven en zona rural es: ", rurales, "estudiantes.")
urban = sum(students['address']=="U")
print("El número de estudiantes que viven en zona urbana es: ", urban, "estudiantes.")
mujeresrural = sum((students['address']=="R") & (students['sex']=="F" ))
print("El número de estudiantes mujeres que viven en zona rural es: ", mujeresrural, "estudiantes.")
hombresrural = sum((students['address']=="R") & (students['sex']=="M" ))
print("El número de estudiantes hombres que viven en zona rural es: ", hombresrural, "estudiantes.")

El número de estudiantes que viven en zona rural es:  88 estudiantes.
El número de estudiantes que viven en zona urbana es:  307 estudiantes.
El número de estudiantes mujeres que viven en zona rural es:  44 estudiantes.
El número de estudiantes hombres que viven en zona rural es:  44 estudiantes.

2.	¿Cuántos estudiantes que viven en la zona rural se demoran en transportarse para llegar de la casa al colegio más de una hora? ¿Cuántos de ellos son mujeres y cuántos son hombres?

In [30]:
mas1h = sum((students['address']=="R") & (students['traveltime']==4 ) & 
            (students['sex']=="M" ))
print("- El número de estudiantes hombres que viven en zona rural y se demoran en \n" 
       "transportarse de la casa al colegio más de una hora es: ", mas1h, "estudiantes.")
mas1m = sum((students['address']=="R") & (students['traveltime']==4) & (students['sex']=="F" ))
print("- El número de estudiantes mujeres que viven en zona rural y se demoran en \n" 
       "transportarse de la casa al colegio más de una hora es: ", mas1m, "estudiante.")

- El número de estudiantes hombres que viven en zona rural y se demoran en
transportarse de la casa al colegio más de una hora es:  4 estudiantes.
- El número de estudiantes mujeres que viven en zona rural y se demoran en
transportarse de la casa al colegio más de una hora es:  1 estudiante.

3. ¿Cuántos estudiantes que viven en la zona rural tienen más de 5 fallas? ¿Cuántos de ellos son mujeres y cuántos son hombres?

In [28]:
fallash = sum((students['address']=="R") & (students['failures']==4) & (students['sex']=="F" ))
print("El número de estudiantes hombres que viven en la zona rural y tienen más de 5 fallas es:", fallash)
fallasm = sum((students['address']=="R") & (students['failures']==4) & (students['sex']=="M" ))
print("El número de estudiantes mujeres que viven en la zona rural y tienen más de 5 fallas es:", fallash)

El número de estudiantes hombres que viven en la zona rural y tienen más de 5 fallas es: 0
El número de estudiantes mujeres que viven en la zona rural y tienen más de 5 fallas es: 0

4. ¿Cuántos estudiantes tienen madres y padres con un grado de escolaridad por encima de la educación secundaria?

In [29]:
educ = sum((students['Medu']==4) & (students['Fedu']==4))
print("El número de estudiantes que tienen madres y padres con un grado de escolaridad \n"
       "por encima de la educación secundaria es:", educ, "estudiantes.")

El número de estudiantes que tienen madres y padres con un grado de escolaridad
por encima de la educación secundaria es: 70 estudiantes

5. Se quiere ver la media de las notas de matemáticas de los estudiantes del colegio Gabriel Pereira vs Mousinho da Silveira, teniendo en cuenta si los estudiantes tienen o no internet en sus casas. Realice una visualización de datos teniendo en cuenta estas 3 variables.

In [108]:
tabla = (students >>
  group_by(X.school, X.internet) >>
  summarize(Media_G1 = X.G1.mean(), 
            Media_G2 = X.G2.mean(),
            Media_G3 = X.G3.mean()
))
tabla.head()

  internet school   Media_G1   Media_G2   Media_G3
0       no     GP  10.538462   9.903846   9.673077
1      yes     GP  11.010101  10.936027  10.632997
2       no     MS   9.785714   9.000000   8.428571
3      yes     MS  11.062500  10.718750  10.468750

6. Cree una nueva variable en la tabla que corresponda a la calificación total para cada uno de los estudiantes y responda ¿Cuál es la media, mediana, mínima y máxima calificación total?

In [112]:
# Creación nueva variable
students['sumnotas'] = students['G1'] + students['G2'] + students['G3']
students.head()

  school sex  age address famsize  ... absences  G1  G2  G3 sumnotas
0     GP   F   18       U     GT3  ...        6   5   6   6       17
1     GP   F   17       U     GT3  ...        4   5   5   6       16
2     GP   F   15       U     LE3  ...       10   7   8  10       25
3     GP   F   15       U     GT3  ...        2  15  14  15       44
4     GP   F   16       U     GT3  ...        4   6  10  10       26

[5 rows x 34 columns]

In [114]:
media = np.mean(students['sumnotas'])
print("El promedio de la calificación total es:", media)
mediana = np.median(students['sumnotas'])
print("La mediana de la calificación total es:", mediana)
min = np.min(students['sumnotas'])
print("La mínima calificación total es:", min)
max = np.max(students['sumnotas'])
print("La máxima calificación total es:", max)

El promedio de la calificación total es: 32.037974683544306
La mediana de la calificación total es: 32.0
La mínima calificación total es: 4
La máxima calificación total es: 58

7. Teniendo en cuenta que el dataset contiene tanto variables numéricas como variables categóricas responda ¿Qué tipo de análisis realizaría: Regresión o clasificación? Si fuera regresión o clasificación: ¿Qué variable usaría para predecir o clasificar? ¿Cuáles variables tiene la hipótesis que podrían servir para pronosticar o clasificar?

Regresión: Utilizaría variables socioeconómicas para predecir las notas de los estudiantes (por ejemplo, predecir el puntaje de aquellos estudiantes que sus papás tienen hasta el nivel primario de educación,además no cuentan con internet y viven en zonas rurales) y las variables que tienen la hipótesis son G1, G2, G3 o incluso la variable que se parametrizó como calificación total para el ejercicio podría tener la hipótesis.